/web/bundles/
/web/css/*
/web/js/*
/web/fonts/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/src/PgqManager/AuthenticationBundle/Resources/config/parameters.yml
/src/PgqManager/ConfigBundle/Resources/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
.idea
.twgit*
.DS_Store
.DS_Store?
._*
[#]*[#]
.[#]*
.*.sw?
*~
