{% extends "MainBundle::layout.html.twig" %}

    {% block title "Symfony - Demos" %}

        {% block content_header '' %}

            {% block content %}
                <h1>Hello, you are known and authenticated!</h1>
            {% endblock %}